<mat-card>
  <mat-card-header>
    <mat-card-title>説明</mat-card-title>
  </mat-card-header>
  <mat-card-content class="description">
    <p>
      このサイトは、テキストをモールス信号に変換することを目的に作成されました。<br>
      モールス信号に関連した3つの機能を実装しています。<br><br>
    </p>
    <p class="title">・テキスト → モールス信号</p>
    <p class="text">
      入力したテキストをモールス信号に変換する機能となります。<br>
      入力できるテキストは、ひらがな・カタカナ(濁点、半濁点にも対応)、半角英数字、一部の記号(半角、全角両方に対応)となります。<br>
      対応していない文字は翻訳されず、無視されます。<br>
      なお、本機能で変換されたモールス信号では長点(ツー)を"－"(全角の長音)、短点(トン)を”・”（全角の中点）、<br>
      文字の間隔を2連続の半角スペースで表しています。<br>
      例1: 「SOS」 ⇨ 「・・・ －－－ ・・・」<br>
      例2: 「ララランド」 ⇨ 「・・・ ・・・ ・・・ ・－・－・ ・・－・・ ・・」
    </p>
    <p class="title">・欧文モールス信号 → アルファベット</p>
    <p class="text">
      入力した欧文モールス信号をテキストに変換する機能となります。<br>
      モールス信号は長点(ツー)を"_"(半角のアンダーバー)、短点(トン)を”.”（半角のピリオド）、<br>
      文字の間隔をひとつの半角スペースとして、入力してください。<br>
      アルファベットと数字と一部記号の変換に対応していて、対応していない文字は翻訳されず、無視されます。<br>
      例1: 「... . _._ .. ._. ___」 ⇨ 「SEKIRO」<br>
      例2: 「.... ._ _ . .._. .._ ._.. ___..」 ⇨ 「HATEFUL8」
    </p>
    <p class="title">・和文モールス信号 → カタカナ</p>
    <p class="text">
      入力した和文モールス信号をテキストに変換する機能となります。<br>
      モールス信号は長点(ツー)を"_"(半角のアンダーバー)、短点(トン)を”.”（半角のピリオド）、<br>
      文字の間隔をひとつの半角スペースとして、入力してください。<br>
      カタカナと数字と一部記号の変換に対応していて、対応していない文字は翻訳されず、無視されます。<br>
      例1: 「.__ _.._ ..__ ___._ ___._ _..._」 ⇨ 「ヤマノススメ」<br>
      例2: 「.__. _.._ _._._ _._.. ._... .._.. __._. .._.. _._ _. __._.」 ⇨ 「ツマサキオトシトワタシ」
    </p>
    <p class="big-title">作者情報</p>
    <div class="big-text">
      <p>Blog:&nbsp;&nbsp;&nbsp;<a href="https://www.l08084.com/">l08084.com</a></p>
      <p>Twitter:&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/l08084">@l08084</a></p>
      <p>GitHub:&nbsp;&nbsp;&nbsp;<a href="https://github.com/l08084">github.com/l08084</a></p>
      <p>このサイトは<a href="https://github.com/l08084/morse-code-tweet">GitHub</a>で公開されているオープンソースです</p>
    </div>
  </mat-card-content>
</mat-card>
